@use "../../../styles/constants.scss";
@use "../../../styles/functions.scss";

$sm-breakpoint: map-get(constants.$grid-breakpoints, sm);

.short-url-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-background-color);
    margin-top: functions.spacing(2);
    border-radius: constants.$border-radius;
    padding: functions.spacing(2) functions.spacing(2);
    @container home-page (max-width: #{$sm-breakpoint}) {
        justify-content: center;
    }

    %copy-link-button {
        margin-left: functions.spacing(2);
        padding: functions.spacing(0.8) functions.spacing(3);
        min-width: 5.8rem;
        transition: background-color 0.3s ease-in-out;

        &:active {
            -webkit-box-shadow: none;
        }

        &:focus {
            -webkit-box-shadow: none;
        }
    }

    .normal-url {
        min-width: 0;
        @container home-page (max-width: #{$sm-breakpoint}) {
            display: none;
        }
    }

    .normal-url > p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .short-url-link-container {
        color: var(--main-color);
        display: flex;
        align-items: center;
        margin-left: functions.spacing(2);

        & a {
            text-decoration: none;
            color: inherit;
        }
        .copy-button {
            @extend %copy-link-button;
        }
        .copied-button {
            @extend %copy-link-button;
            background-color: var(--secondary-color);
        }
    }
}