@use "../../../styles/constants.scss";
@use "../../../styles/functions.scss";

.url-form-container {
  background-color: constants.$secondary-color;
  padding: functions.size(5);
  border-radius: constants.$border-radius+3;
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 680px;

  .url-form {
    display: flex;
    column-gap: functions.size(1.5);
    width: 100%;

    .url-form-button {
      padding: functions.size(1.8) functions.size(2.5);
    }

    .url-form-input {
      padding: functions.size(1.5);
      flex-grow: 1;
      font-weight: 500;

      &::placeholder {
        opacity: 0.7;
      }

    }

    .url-form-input-error {
      padding: functions.size(1.5);
      flex-grow: 1;
      -webkit-box-shadow: inset 0 0 1px 2px constants.$text-error-color;
      font-weight: 500;

      &::placeholder {
        color: constants.$text-error-color;
        font-weight: 500;
        opacity: 0.5;
      }
    }
  }

  .error-message {
    color: constants.$text-error-color;
    position: absolute;
    left: 2.5rem;
    bottom: 1rem;
  }
}