@use "../../../styles/constants.scss";
@use "../../../styles/functions.scss";

$md-breakpoint: map-get(constants.$grid-breakpoints, md);

.url-form-container {
  background-color: var(--secondary-color);
  padding: functions.spacing(5);
  border-radius: constants.$border-radius+3;
  display: flex;
  justify-content: center;
  position: relative;
  //min-width: 680px;
  container-name: url-form-container;
  container-type: inline-size;

  .url-form {
    display: flex;
    column-gap: functions.spacing(1.5);
    width: 100%;
    @container home-page (max-width: #{$md-breakpoint}) {
      flex-direction: column;
    }

    .url-form-button {
      padding: functions.spacing(1.8) functions.spacing(2.5);
      @container home-page (max-width: #{$md-breakpoint}) {
        margin-top: functions.spacing(2);
      }
    }

    .url-form-input {
      padding: functions.spacing(1.5);
      flex-grow: 1;
      font-weight: 500;

      &::placeholder {
        color: var(--text-color);
        opacity: 0.5;
      }
    }

    .url-form-input-error {
      padding: functions.spacing(1.5);
      flex-grow: 1;
      -webkit-box-shadow: inset 0 0 1px 2px var(--text-error-color);
      font-weight: 500;

      &::placeholder {
        color: var(--text-error-color);
        font-weight: 500;
        opacity: 0.6;
      }
    }
  }

  .error-message {
    color: var(--text-error-color);
    position: absolute;
    left: 2.5rem;
    bottom: 1rem;
  }
}